body{
    background-image: url("images/GYM1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
div{
    background-color: lightblue;
    width: 60%;
    margin:405px 50px 10px 300;
    text-align:center;
    border-radius: 30px;
    font-family: cursive;
    font-size:10px;
    
}
button{
    background: orange;
    padding: 20px;
    color:white;
    font-size:2em;
    border-radius:11px;
    font-family:cursive;
}
h1{
    font-size:3em;
}
